.chat-main
  .chat-main__group-info
    .items-info
      .items-info__top-left
        .group-name test
        .member-list Member : masa
      .items-info__top-right
        = link_to "#", class: "btn-edit" do
          .edit
            Edit
  .chat-main__message-list
    .message
      .message__message-top
        .message__message-top--name m
        .message__message-top--created-at 2019/11/20(Wed) 17:43:01
      .message__text 今日は夜から雨
    .message
      .message__message-top
        .message__message-top--name masa
        .message__message-top--created-at 2019/11/20(Wed) 17:43:01
      .message__text 今日は夜から雨
  .chat-main__message-form
    .message
      %input.message__text{ placeholder:"type a message", type:"text" }
      .message__image
        %label
          = icon("far","image")
          %input.image-form{type: "file"}
    = link_to "#", class: "chat-main__message-form--send-form" do
      .chat-main__message-form--send-form--send
        Send