.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        =current_user.name
      .top-items__icons 
        = link_to "#", class: "btn-create-group" do
          = icon('far', 'edit', class:"icons")
          %span>
        = link_to edit_user_path(current_user), class: "btn-edit" do
          = icon('fas', 'cog', class:"icons")
          %span>
  .side-bar__group-list
    .group-name techcamp
    .group-message まだメッセージがありません
    .group-name techcamp
    .group-message まだメッセージがありません
    .group-name techcamp
    .group-message まだメッセージがありません